.main-container {
    display: flex;
    flex-direction: row;
  }
  
  .main-container .form-section {
    flex: 1;
  }
  
  .main-container .list-section {
    flex: 1;
  }
  .main-container .field-value {
    flex: 1;
  }
  .main-container .field-icon {
    flex: 1;
  }
  