.form {
    max-width: 360px;
    background: #f1f1f1;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 6px #1c89ff;
}

.header {
    color: #1c89ff;
    font-weight: bolder;
    font-size: 29px;

}

.form-body {
    text-align: left;
    padding: 20px 10px;
}

.form-body>* {
    padding: 5px;
}

.header {
    text-align: center;
}

.show-hide-pass {
    display: flex;
    flex-direction: row;
}

.show-hide-pass .text {
    flex: 1;
    margin-left: 30px;
    margin-right: 145px;
    font-size: 14px;
    font-weight: 400;
    color: deepskyblue;
}

.show-hide-pass .icon {
    flex: 1;
}

.form__fieldHolder {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;

}

.form__label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    width: 100%;
}

.form__input {
    padding: 7px;
    font-size: 14px;
    border-radius: 100ch;
    border: 0;
    width: 100%;
    text-align: center;
}

.form__button {
    color: #fff;
    text-align: center;
    align-self: center;
    border-radius: 20px;
    font-size: medium;
    cursor: pointer;
    border-width: thick;
    border-color: rgb(156, 212, 242);
    position: relative;
    display: block;
    width: 100px;
    height: 36px;
    font-size: 17px;
    font-weight: 300;
    background: #1c89ff;
    margin: 0 auto;

    &:hover {
        background-color: deepskyblue;
    }
}